.ipynb_checkpoints/
.venv/
sources/

*.tiff
*.tif

*.part

*.nc

*.tar

*.out
*.aux
*.bbl
*.bcf
*.blg
*.log
*.run.xml
*.synctex.gz
*.toc

PalMod2_credentials.txt

requirements.txt
data_exploration.ipynb

/data/Beyer2020/data/R_script.R
/data/Beyer2020/data/Python_script.py
/data/Beyer2020/data/Matlab_script.m
/data/Beyer2020/Beyer2020.pdf

/data/CHELSA-TraCE21k-centennial/article.pdf
/data/CHELSA-TraCE21k-centennial/chelsa_trace_bibtex.bib

/data/age_temp_C0.txt
